<div class="header-section d-flex align-items-center justify-content-between" id="top-header">
    <div class="header-left d-flex align-items-end">
        <button mat-icon class="action-button large-btn" (click)="togleMobmenu()" id="btn-togglebtn"><mat-icon>toc</mat-icon></button>
        <button mat-icon class="action-button mobile-btn" (click)="toglesmmenu()" id="btn-togglesmbtn"><mat-icon>toc</mat-icon></button>
        <div class="logo d-flex align-items-center" style="cursor: pointer;" [routerLink]="['/create-test']">
            <img src="../../assets/img/Finall file.png" class="img-fluid" />

        </div>
    </div>

</div>
