@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "../../template.scss";
@import "../../styles.scss";
.sidenav-section {
    background-color: #f0f4f7;
    min-height: 100%;
    width: 230px;
    transition: 0.3s;
    position: fixed;
    z-index: 950;
    overflow: hidden;
    box-shadow: 5px -1px 9px #0000001f;
    .sidenavCon {
        width: 100%;
        min-width: 230px;
        position: relative;
        background: none;
        min-height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
        padding-bottom: 15px;
        .header-cancle {
            color: #969dab;
            font-weight: bolder;
            font-size: 25px;
            text-align: right;
            padding: 19px 15px;
            height: 40px;
            justify-content: flex-end;
            display: flex;
            b {
                width: 35px;
                text-align: center;
                height: 35px;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                display: none;
                &:hover {
                    background: #969dab5e;
                    color: #969dab;
                }
                @include for-responsive($screen-tab) {
                    display: block;
                }
            }
        }
        a {
            display: block;
            font-size: 14px;
            width: 100%;
            padding: 10px 0px;
            padding-left: 35px;
            color: #2E3440;
            font-family: 'Montserrat';
            border-left: 3px solid transparent;
            text-decoration: none;
            cursor: pointer;
            text-transform: capitalize;
            font-weight: 600;
            &:hover {
                background-color: #252C34;
                color: #ffffff;
                text-decoration: none;
                & i {
                    color: #ffffff;
                }
            }
            i {
                margin-right: 20px;
                font-size: 20px;
            }
        }
        .active-link {
            background-color: #252C34;
            color: #ffffff;
            text-decoration: none;
            & i {
                color: #ffffff;
            }
        }
        .user {
            text-align: center;
            img {
                width: 80px;
                height: 80px;
                border-radius: 40px;
            }
            .img-thumbnail {
                background: none;
                border: none;
            }
            span {
                font-family: "Noto Sans";
                font-weight: 600;
                display: block;
                font-size: 16px;
                color: #2E3440;
                margin: 13px 0px;
                text-transform: capitalize;
            }
        }
    }
     ::ng-deep .mat-button-wrapper i {
        vertical-align: initial;
    }
}

.slidenav {
    width: 0px;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #2E3440;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #969dab;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #969dab;
}