@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import"../../styles.scss";
@import "../../template.scss";
.admin-content {
    min-height: 100vh;
    background-color: #F2F3F7;
    .card-header {
        font-family: 'Montserrat';
        color: #595959;
        font-weight: 600;
        font-size: 20px;
    }
    .card-body {
        padding: 20px;
        min-height: 300px;
        mat-form-field {
            width: 100%;
        }
    }
}

._action-button {
    button {
        width: 120px;
        background-color: #2392C9;
        @include for-responsive($screen-tab) {
            width: 100%;
            margin-top: 11px;
        }
    }
}