<app-admin-header></app-admin-header>

<div class="main-content d-flex">
    <app-admin-sidenav></app-admin-sidenav>

    <div class="row mr-0 content-side" id="mainContent">
        <div class="col-12 p-3 admin-content">
            <div class="card results-section">
                <div class="card-header">
                    <i class="fas fa-list mr-2"></i>Add Student
                </div>
                <div class="card-body">
                    <div class="row mx-0 align-items-center mt-5">
                        <div class="col-lg-3 col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Old Password</mat-label>
                                <input matInput placeholder="Ex. Pizza" [(ngModel)]="passwordData.oldPassword" type="password">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>New Password</mat-label>
                                <input matInput placeholder="Ex. Pizza" [(ngModel)]="passwordData.newPassword" type="password">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput placeholder="Ex. Pizza" (keyup)="confirmPassword()" [(ngModel)]="passwordData.confirmPassword" type="password">
                                <mat-hint *ngIf="!confirmPassword()"><strong style="color: #f00;">Password not match</strong> </mat-hint>
                            </mat-form-field>


                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="_action-button text-right mb-3">
                                <button mat-raised-button class="action-button btn btn-primary" (click)="changePassword()">Submit</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader-section" *ngIf="showLoader">
    <div class="loading">
        <span>Loading...</span>
    </div>
</div>