<app-admin-header></app-admin-header>

<div class="main-content d-flex">
    <app-admin-sidenav></app-admin-sidenav>

    <div class="row mr-0 content-side" id="mainContent">
        <div class="col-12 p-3 admin-content">
            <!-- <div class="row mx-0 align-items-center">
                <div class="col-lg-3 col-md-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Today's Patient Signup</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="col-lg-3 col-md-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Today's Doctor Signup</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="col-lg-3 col-md-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Total Closed Conversations</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="col-lg-3 col-md-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Total Referred Conversations</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div> -->
            <div class="performance-chart d-flex align-items-center justify-content-between">
                <div class="details">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Today's Patient Signup</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="details">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Today's Patient Signup</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="details">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Today's Patient Signup</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="details">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Today's Patient Signup</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="details">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Today's Patient Signup</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
            <div class="row mx-0 mt-3 align-items-center">
                <div class="col-lg-6 col-md-6 col-12 pl-0">

                    <mat-card>
                        <div class="chart">
                            <canvas baseChart [data]="pieChartData1" [labels]="pieChartLabels1" [chartType]="pieChartType1" [options]="pieChartOptions1" [plugins]="pieChartPlugins1" [colors]="pieChartColors1" [legend]="pieChartLegend1">
                                </canvas>
                        </div>
                    </mat-card>

                </div>
                <div class="col-lg-6 col-md-6 col-12 pr-0">

                    <mat-card>
                        <div class="chart">
                            <canvas baseChart [data]="pieChartData2" [labels]="pieChartLabels2" [chartType]="pieChartType2" [options]="pieChartOptions2" [plugins]="pieChartPlugins2" [colors]="pieChartColors2" [legend]="pieChartLegend2">
                                </canvas>
                        </div>
                    </mat-card>

                </div>
            </div>
            <div class="row mx-0 mt-3 align-items-center daily-progress">
                <div class="col-lg-12 px-0">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    In Queue Patients List
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>Phone Number</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of [1,2,3.5,6]; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>Daniyal</td>
                                        <td>0345-00000000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Active conversations
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>Phone Number</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of [1,2,3.5,6]; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>Daniyal</td>
                                        <td>0345-00000000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Today's Converstations
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>Phone Number</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of [1,2,3.5,6]; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>Daniyal</td>
                                        <td>0345-00000000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Conversations with less interaction to doctor
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>Phone Number</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of [1,2,3.5,6]; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>Daniyal</td>
                                        <td>0345-00000000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader-section" *ngIf="showLoader">
    <div class="loading">
        <span>Loading...</span>
    </div>
</div>